params {
    fasta = '/storage/research/dbmr_luisierlab/resources/pipelines/clipseq/genome_cacheDir/GRCh38.primary_assembly.genome.fa'
    smrna_fasta = '/storage/research/dbmr_luisierlab/resources/pipelines/clipseq/genome_cacheDir/homosapiens_smallRNA.fa'
    gtf = '/storage/research/dbmr_luisierlab/resources/pipelines/clipseq/genome_cacheDir/gencode.v37.primary_assembly.annotation.gtf'
    fasta_fai = '/storage/research/dbmr_luisierlab/resources/pipelines/clipseq/genome_cacheDir/GRCh38.primary_assembly.genome.fa.fai'
    chrom_sizes = '/storage/research/dbmr_luisierlab/resources/pipelines/clipseq/genome_cacheDir/GRCh38.primary_assembly.genome.fa.sizes'
//    genome_index = '/storage/research/dbmr_luisierlab/resources/pipelines/clipseq/genome_cacheDir/star'
    target_genome_index = '/storage/research/dbmr_luisierlab/resources/pipelines/clipseq/genome_cacheDir/star'
//    smrna_index = '/storage/research/dbmr_luisierlab/resources/pipelines/clipseq/genome_cacheDir/bowtie'
    smrna_genome_index = '/storage/research/dbmr_luisierlab/resources/pipelines/clipseq/genome_cacheDir/bowtie'
    smrna_fasta_fai = '/storage/research/dbmr_luisierlab/resources/pipelines/clipseq/genome_cacheDir/homosapiens_smallRNA.fa.fai'
    smrna_chrom_sizes = '/storage/research/dbmr_luisierlab/resources/pipelines/clipseq/genome_cacheDir/homosapiens_smallRNA.fa.sizes'
    longest_transcript= '/storage/research/dbmr_luisierlab/resources/pipelines/clipseq/genome_cacheDir/longest_transcript.txt'
    longest_transcript_fai = '/storage/research/dbmr_luisierlab/resources/pipelines/clipseq/genome_cacheDir/longest_transcript.fai'
    longest_transcript_gtf = '/storage/research/dbmr_luisierlab/resources/pipelines/clipseq/genome_cacheDir/longest_transcript.gtf'
    filtered_gtf = '/storage/research/dbmr_luisierlab/resources/pipelines/clipseq/genome_cacheDir/gencode_filtered.gtf'
    seg_gtf = '/storage/research/dbmr_luisierlab/resources/pipelines/clipseq/genome_cacheDir/gencode_seg.gtf'
    seg_filt_gtf = '/storage/research/dbmr_luisierlab/resources/pipelines/clipseq/genome_cacheDir/gencode_filtered_seg.gtf'
    seg_resolved_gtf = '/storage/research/dbmr_luisierlab/resources/pipelines/clipseq/genome_cacheDir/gencode_filtered_seg_genicOtherfalse.resolved.gtf'
    seg_resolved_gtf_genic = '/storage/research/dbmr_luisierlab/resources/pipelines/clipseq/genome_cacheDir/gencode_filtered_seg_genicOthertrue.resolved.gtf'
    regions_gtf = '/storage/research/dbmr_luisierlab/resources/pipelines/clipseq/genome_cacheDir/gencode_regions.gtf'
    regions_filt_gtf = '/storage/research/dbmr_luisierlab/resources/pipelines/clipseq/genome_cacheDir/gencode_filtered_regions.gtf'
    regions_resolved_gtf = '/storage/research/dbmr_luisierlab/resources/pipelines/clipseq/genome_cacheDir/gencode_filtered_regions_genicOtherfalse.resolved.gtf'
    regions_resolved_gtf_genic = '/storage/research/dbmr_luisierlab/resources/pipelines/clipseq/genome_cacheDir/gencode_filtered_regions_genicOthertrue.resolved.gtf'
}
