// Institutional profile for UBELIX

env {
    // iCount (clipseq) uses /tmp instead of $TMPDIR, breaking things up
    ICOUNT_TMP_ROOT = '/scratch/local'
}

params {
    config_profile_description = 'UBELIX nextflow config'
    config_profile_contact = 'Andrej Benjak (@ab19m288)'
    igenomes_ignore = true
    max_memory = 200.GB
    max_time = 16.d
    max_cpus = 32
    wckey = 'dbmr_luisierlab'
}

profiles {
  ubelix {
    process.executor = 'slurm'
    process.memory = 8.GB
    process.time = 6.h
    process.cpus = 1
    process.clusterOptions = "--nodes 1 --qos job_cpu --account paygo --wckey ${params.wckey} -x bnode[001-025,027-068]"
  }
}

singularity {
    singularity.enabled    = true
    singularity.autoMounts = true
    conda.enabled          = false
    docker.enabled         = false
    podman.enabled         = false
    shifter.enabled        = false
    charliecloud.enabled   = false
    apptainer.enabled      = false
    // use a common image cacheDir:
    cacheDir = '/storage/research/dbmr_luisierlab/resources/pipelines/singularity_cacheDir'
    // some tools like iCount don't use $TMPDIR, but instead write to /tmp, which has limited space.
    // If we force them to use /scratch/local, singularity should mount it.
    runOptions = '-B /scratch/local'
}

// Copied from clipseq/nextflow.config, needed for the customised processes below
// Function to ensure that resource requirements don't go beyond a maximum limit
def check_max(obj, type) {
    if (type == 'memory') {
        try {
            if (obj.compareTo(params.max_memory as nextflow.util.MemoryUnit) == 1)
                return params.max_memory as nextflow.util.MemoryUnit
            else
                return obj
        } catch (all) {
            println "   ### ERROR ###   Max memory '${params.max_memory}' is not valid! Using default value: $obj"
            return obj
        }
    } else if (type == 'time') {
        try {
            if (obj.compareTo(params.max_time as nextflow.util.Duration) == 1)
                return params.max_time as nextflow.util.Duration
            else
                return obj
        } catch (all) {
            println "   ### ERROR ###   Max time '${params.max_time}' is not valid! Using default value: $obj"
            return obj
        }
    } else if (type == 'cpus') {
        try {
            return Math.min( obj, params.max_cpus as int )
        } catch (all) {
            println "   ### ERROR ###   Max cpus '${params.max_cpus}' is not valid! Using default value: $obj"
            return obj
        }
    }
}


// Adapted from clipseq/conf/base.config, which is loaded by default by every pipeline/module. This should take precedence.
// Trying to use gratis or preemptable, but the problem is when a job fails, it reruns with double the resources, which eventually goes beyond the qos limits.
// Workaround is to keep the time fixed to use cpu_preemptable for "smaller" jobs.
process {
    cpus   = { check_max( 1    * task.attempt, 'cpus'   ) }
    memory = { check_max( 8.GB * task.attempt, 'memory' ) }
    // time   = { check_max( 4.h  * task.attempt, 'time'   ) }
    time   = 6.h
    clusterOptions = "--nodes 1 --qos job_cpu_preemptable -x bnode[001-025,027-068]"

    errorStrategy = { task.exitStatus in ((130..145) + 104) ? 'retry' : 'finish' }
    maxRetries    = 3
    maxErrors     = '-1'

    // Process-specific resource requirements
    // NOTE - Please try and re-use the labels below as much as possible.
    //        These labels are used and recognised by default in DSL2 files hosted on nf-core/modules.
    //        If possible, it would be nice to keep the same label naming convention when
    //        adding in your local modules too.
    // See https://www.nextflow.io/docs/latest/config.html#config-process-selectors
    withLabel:process_single {
        cpus   = { check_max( 1                  , 'cpus'    ) }
        memory = { check_max( 6.GB * task.attempt, 'memory'  ) }
        // time   = { check_max( 4.h  * task.attempt, 'time'    ) }
        time   = 6.h
        clusterOptions = "--nodes 1 --qos job_cpu_preemptable -x bnode[001-025,027-068]"
    }
    withLabel:process_low {
        cpus   = { check_max( 2     * task.attempt, 'cpus'    ) }
        memory = { check_max( 12.GB * task.attempt, 'memory'  ) }
        // time   = { check_max( 4.h   * task.attempt, 'time'    ) }
        time   = 6.h
        clusterOptions = "--nodes 1 --qos job_cpu_preemptable -x bnode[001-025,027-068]"
    }
    withLabel:process_medium {
        cpus   = { check_max( 6     * task.attempt, 'cpus'    ) }
        memory = { check_max( 36.GB * task.attempt, 'memory'  ) }
        // time   = { check_max( 6.h   * task.attempt, 'time'    ) }
        time   = 6.h
        clusterOptions = "--nodes 1 --qos job_cpu_preemptable -x bnode[001-025,027-068]"
    }
    withLabel:process_high {
        cpus   = { check_max( 8    * task.attempt, 'cpus'    ) }
        memory = { check_max( 62.GB * task.attempt, 'memory'  ) }
        time   = { check_max( 16.h  * task.attempt, 'time'    ) }
        clusterOptions = "--nodes 1 --qos job_cpu --account paygo --wckey ${params.wckey} -x bnode[001-025,027-068]"
    }
    withLabel:process_long {
        time   = { check_max( 20.h  * task.attempt, 'time'    ) }
        clusterOptions = "--nodes 1 --qos job_cpu --account paygo --wckey ${params.wckey} -x bnode[001-025,027-068]"
    }
    withLabel:process_high_memory {
        memory = { check_max( 120.GB * task.attempt, 'memory' ) }
        clusterOptions = "--nodes 1 --qos job_cpu --account paygo --wckey ${params.wckey} -x bnode[001-025,027-068]"
    }
    withLabel:error_ignore {
        errorStrategy = 'ignore'
    }
    withLabel:error_retry {
        errorStrategy = 'retry'
        maxRetries    = 2
    }
    // Customize resources for individual process:
    //
    // ICOUNT_SEG_GTF defaults to 'process_single', but even 12G is sometimes not enough.
    // Increase to avoid multiple retries
    withName:'CLIPSEQ:PREPARE_CLIPSEQ:ICOUNT_SEG_GTF' {
        cpus   = { check_max( 1                  , 'cpus'    ) }
        memory = { check_max( 20.GB * task.attempt, 'memory'  ) }
        time   = 6.h
        clusterOptions = "--nodes 1 --qos job_cpu_preemptable -x bnode[001-025,027-068]"
    }
    // BOWTIE_ALIGN defaults to process_high, but needs way less
    withName:'CLIPSEQ.*BOWTIE_ALIGN.*' {
        cpus   = { check_max( 8    * task.attempt, 'cpus'    ) }
        memory = { check_max( 20.GB * task.attempt, 'memory'  ) }
        time   = 6.h
        clusterOptions = "--nodes 1 --qos job_cpu_preemptable -x bnode[001-025,027-068]"
    }
    // UMITOOLS_EXTRACT defaults to 20h but needs minutes
    withName:'CLIPSEQ:UMITOOLS_EXTRACT' {
        cpus   = { check_max( 8    * task.attempt, 'cpus'    ) }
        memory = { check_max( 20.GB * task.attempt, 'memory'  ) }
        time   = 6.h
        clusterOptions = "--nodes 1 --qos job_cpu_preemptable -x bnode[001-025,027-068]"
    }
    // UMICOLLAPSE defaults to 20h and 120GB, but needs much less
    withName:'.*UMICOLLAPSE' {
        cpus   = { check_max( 8    * task.attempt, 'cpus'    ) }
        memory = { check_max( 40.GB * task.attempt, 'memory'  ) }
        time   = 6.h
        clusterOptions = "--nodes 1 --qos job_cpu_preemptable -x bnode[001-025,027-068]"
    }
    // TRIMGALORE defaults to process_high, but needs much less
    withName:'CLIPSEQ:FASTQC_TRIMGALORE:TRIMGALORE' {
        cpus   = { check_max( 8    * task.attempt, 'cpus'    ) }
        memory = { check_max( 20.GB * task.attempt, 'memory'  ) }
        time   = 6.h
        clusterOptions = "--nodes 1 --qos job_cpu_preemptable -x bnode[001-025,027-068]"
    }
    // STAR_ALIGN defaults to process_high, but needs much less
    withName:'CLIPSEQ:RNA_ALIGN:STAR_ALIGN' {
        cpus   = { check_max( 8    * task.attempt, 'cpus'    ) }
        memory = { check_max( 62.GB * task.attempt, 'memory'  ) }
        time   = 6.h
        clusterOptions = "--nodes 1 --qos job_cpu_preemptable -x bnode[001-025,027-068]"
        // avoid sporadic error "buffer size for SJ output is too small; increase input parameter --limitOutSJcollapsed
        // limitOutSJcollapsed defaults to 1M, which can fail for datasets with high numbers of splice junctions or collapsed junctions.
        // increasing limitOutSJcollapsed won't alter mapping, but can increase memory usage.
        // STAR 'ext.args' are already defined in the pipeline's 'modules.config'. Use the same here and add --limitOutSJcollapsed:
        ext.args   = {  "--readFilesCommand zcat --outSAMtype BAM Unsorted --quantMode TranscriptomeSAM ${params.star_params} --limitOutSJcollapsed 5000000"  }
    }
    // ICOUNT_SIGXLS defaults to process_high, but needs much less
    withName:'CLIPSEQ:ICOUNT_ANALYSE:ICOUNT_SIGXLS' {
        cpus   = { check_max( 8    * task.attempt, 'cpus'    ) }
        memory = { check_max( 20.GB * task.attempt, 'memory'  ) }
        time   = 6.h
        clusterOptions = "--nodes 1 --qos job_cpu_preemptable -x bnode[001-025,027-068]"
    }
    // CLIPPY_GENOME defaults to process_high, but needs much less
    withName:'CLIPSEQ:CLIPPY_GENOME' {
        cpus   = { check_max( 8    * task.attempt, 'cpus'    ) }
        memory = { check_max( 20.GB * task.attempt, 'memory'  ) }
        time   = 6.h
        clusterOptions = "--nodes 1 --qos job_cpu_preemptable -x bnode[001-025,027-068]"
    }
    withName:'CLIPSEQ:CLIPPY_TRANSCRIPT' {
        cpus   = { check_max( 8    * task.attempt, 'cpus'    ) }
        memory = { check_max( 20.GB * task.attempt, 'memory'  ) }
        time   = 6.h
        clusterOptions = "--nodes 1 --qos job_cpu_preemptable -x bnode[001-025,027-068]"
    }
    // PEKA defaults to process_high, but needs much less
    withName:'CLIPSEQ:PEKA' {
        cpus   = { check_max( 8    * task.attempt, 'cpus'    ) }
        memory = { check_max( 20.GB * task.attempt, 'memory'  ) }
        time   = 6.h
        clusterOptions = "--nodes 1 --qos job_cpu_preemptable -x bnode[001-025,027-068]"
    }
}
